[submodule "support"]
	path = support
	url = https://github.com/joelgraff/pivy_trackers
[submodule "pivy_trackers"]
	path = pivy_trackers
	url = https://github.com/joelgraff/pivy_trackers
[submodule "freecad_python_support"]
	path = freecad_python_support
	url = https://github.com/joelgraff/freecad_python_support
